<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="keywords">
    <meta name="description" content="Website description">
    <link href="https://fonts.googleapis.com/css?family=Cookie|Raleway|Zhi+Mang+Xing&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css3/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Home</title>
</head>

<body>
    <header class="header">
        <div>
            <h1 class="header-name">SHOPIFY</h1>
            <p class="header-intro">A HUB FOR BUYING AND SELLING OF PRODUCTS</p>
        </div>
    </header>
    <section class="about">
        <h2>INTRODUCTION</h2>
        <p> SHOPIFY is a web application for local community with a platform to help them buy, sell, and find something and address needs across many categories such as Clothing, Cars and Bikes, Mobiles, Real Estate, Furniture, TVs & electronics & Pets etc.</p>
        <!-- <p>I spend far too much time on the web, keeping one eye on Twitter and the other on hakerrank I have a real desire to learn iOS development as well, but all in good time.</p> -->
    </section>
    <section class="questions">
        <!-- <h2>More about me</h2> -->
        <h3>OUR GOALS </h3>
        <p>The overall architecture goals of the system are to provide a highly available and scalable online application for everybody where people can exchange goods and services..</p>
        <h3>Benefits Using SHOPIFY</h3>
        <p>Seller free and easy posting of their Advertisements.</p>
        <p>The cost-effectiveness it bring to the business.</p>
        <p>Great selection of classifies ads under different major categories.</p>
        <p>Direct connection between buyer and seller.</p>
        <h3>Scope Of This Application</h3>
        <p>The scope of this Application is spread across all over the world. It is a unique platform to buy or sell first or second hand products. People can buy the products according to their needs even real estate property is also available.</p>
    </section>
    <footer class="footer">
        <p>You can find out a bit more about SHOPIFY in these places</p>
        <ul class="social">
            <li><a href="https://www.Twitter.com" target="=_blank">Twitter</li>
            <li><a href="https://www.Github.com" target="_blank">Github</li>
            <li><a href="https://www.facebook.com" target="_blank">Facebook</li>
        </ul>
    </footer>
</body>

</html>