<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="keywords">
    <meta name="description" content="Website description">
    <link href="https://fonts.googleapis.com/css?family=Cookie|Raleway|Zhi+Mang+Xing&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css3/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Home</title>
</head>

<body>
    <header class="header">
        <div>
            <p class="header-intro">Hi, I'm</p>
            <h1 class="header-name">ADITYA</h1>
        </div>
    </header>
    <section class="about">
        <h2>Introduction</h2>
        <p>Hi, I'm emerging web developer. I really want to learn how to implement my own designs in the browser and offer a better service to my clients by telling them that I can code too!</p>
        <p>I spend far too much time on the web, keeping one eye on Twitter and the other on hakerrank I have a real desire to learn iOS development as well, but all in good time.</p>
    </section>
    <section class="questions">
        <h2>More about me</h2>
        <h3>Where am I from?</h3>
        <p>I'm originally from a India. I grew up in a small town but moved over to the Chandigarh a few years ago and I'm now living in the countryside in India.</p>
        <h3>What is my Dream Job?</h3>
        <p>Part of the reason I'm learning to code is because I want to be able to put my own ideas into practice. My dream 'job' would be to build my own product and be responsbible for the entire experience from design through to implementation. </p>
        <h3>What music have you been listening to?</h3>
        <p>I only just recently discovered an awesome website called <a href="http://hypem.com" target="_blank">Hype Machine</a> which watches popular music blogs and discovers new artists and lets you stream all the music completely free. I've been really
            implressed with their breadth and can just hit play and forget about it.</p>
    </section>
    <footer class="footer">
        <p>You can find out a bit more about me in these places</p>
        <ul class="social">
            <li><a href="https://twitter.com/HamishAIrving" target="=_blank">Twitter</li>
            <li><a href="https://github.com/hamishirving" target="_blank">Github</li>
            <li><a href="#" target="_blank">Facebook</li>
        </ul>
    </footer>
</body>

</html>